body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/* title */
.main-title {
  text-align: center;
  font-size: 9.5em;
  background-color: greenyellow;
  margin: 0;
  padding: 0.3em;
}

/* cards */

.card {
  background-color: lightgray;
  font-size: 2.5em;
  height: auto;
  width: auto;
  padding: 5%;
  margin: 5%;
  gap: 10%;
}

.card__bookmark {
  display: table;
  margin-right: 0;
  margin-left: auto;
  scale: 300%;
  right: 10%;
  top: 10%;
}

/* Insert hover activate bookmark! */
/* 
.bookmark:hover {
  image: url('./assets/bookmark_active.svg');
} 
  */

.card__question {
  font-size: 2.5em;
  text-align: center;
  margin-bottom: 0.8em;
}

.card__button-answer {
  text-decoration: none;
  color: black;
  background-color: greenyellow;
  display: table;
  margin: 1em auto 2.5em auto;
  padding: 10%;
  border-radius: 0.5em;
}

.card__button-answer:hover {
  box-shadow: 0 0.5em 0;
}

.card__categories {
  list-style: none;
  display: grid;
  grid-row: 3;
  flex-wrap: wrap;
  gap: 5%;
  margin-bottom: 2em;
  color: white;
}

.card__tag {
  background-color: black;
  padding: 1em;
  border-radius: 0.5em;
  cursor: pointer;
  text-align: center;
}
.card__tag:hover {
  color: black;
  background-color: greenyellow;
  cursor: pointer;
}

/* footer */

.navbar {
  background: greenyellow;
  padding: 2em;
}

.navbar__section {
  list-style: none;
  display: flex;
  gap: 1em;
  text-align: center;
}

.navbar__link {
  scale: 250%;
  text-decoration: none;
  color: black;
  margin: 1.5em auto;
}
